*   {
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    height: 100vh;
}
body{
    /* background-color: rgba(245, 245, 245, 0.76); */
    background: url(https://img3.goodfon.com/wallpaper/nbig/b/78/skripka-smychek-violin-ch-b.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    opacity: 1;
    z-index: 0;
}
header{
    padding: 15px;
    background-color:rgb(19, 24, 27);
    position:sticky;
    top: 0;
    height: 12.8ch;
    z-index: 10;
    width: 100%;
}
.hedEl li{
    display: inline-block;
    border: 1px solid rgba(19, 24, 27, 0.938);
    color: rgba(255, 255, 255, 0.774);
    font-weight: 900;
    font-size: 20px;
    padding: 10px;
    margin-left: 25px;
    z-index: 2;
}
    .cart{
    display: inline-block;
    border: 1px solid rgba(245, 245, 245, 0.685);
    padding: 15px;
    background-color: rgb(245, 245, 245);
    /* margin-left: 25px; */
    z-index: 2;
    position: sticky;
    top: 6ch;
    left: 100%;
    border-radius: 3px;
    } 
     
        .cart:visited {
            animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
          }
          
          @keyframes shake {
            10%,
            90% {
              transform: translate3d(-1px, 0, 0);
            }
            20%,
            80% {
              transform: translate3d(2px, 0, 0);
            }
            30%,
            50%,
            70% {
              transform: translate3d(-4px, 0, 0);
            }
            40%,
            60% {
              transform: translate3d(4px, 0, 0);
            }
          }
    
    .cart a{
        text-decoration: none;
        color: rgb(10, 9, 9);
        font-weight: 900;
        font-size: 25px;
    }
    .cart:hover{
        background-color: rgba(255, 255, 255, 0.459);
        color: rgba(0, 0, 0, 0.589);
        position: sticky;
        top: 5ch;
        left: 90%;
        transform: scale(1.4);
        transition: 0.3s;
    }

    .hedEl li:nth-child(2){
        position: relative;
        left: 111ch;
        top: 1ch;
    }
    .hedEl li:nth-child(1){
        position: relative;
        left: 108ch;
        top: 1ch;
    }
    

    .hedEl li:hover{
        background-color: rgb(251, 251, 251);
        color: rgba(0, 0, 0, 0.589);
        transform: scale(1.2);
        transition: 0.5s;
    }
    .p1{
        color: rgb(255, 255, 255);
        width: 10ch;
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        top: 10px;
        right: 30px;
        }
        .hedEl li a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.774);
        }
        .hedEl li a:hover{
            background-color: rgb(251, 251, 251);
            color: rgba(0, 0, 0, 0.589);
            transition: 0.5s;
        }

        .logo-video{
            display: inline-block;
        position: absolute;
        top: -3ch;
        /* border-radius: 50%; */
        left: 1.5%;
        z-index: 1;
            } 
            .imgcont {
                /* border: 1px solid red; */
                position: relative;
                left: -9ch;
                top: 1ch;
                text-align: center;
                color: white;
                display:inline-block;
                padding: 1ch;
                padding-bottom: 7ch;
                
              }
              .imgcont img{
                height: 575px;
                width: 550px;
                border-radius: 10px;
              }
             #hr1{
                  height: 10px;
                  background-color: rgba(73, 162, 174, 0.246);
                border: 4px dashed rgba(73, 162, 174, 0.692);
              }
              .centered {
                position:absolute;
                top: 90%;
                margin-top: 2ch;
                left: 50%;
                transform: translate(-50%, -50%);
                color: rgb(255, 255, 255);
                font-family: 'Dancing Script', cursive;
                font-size: 2.5rem;
                font-weight: 10;
                text-shadow: black;
                animation: glow 1s ease-in-out infinite alternate;
                text-transform: uppercase;
            }            
            @keyframes glow{
                0%{
                    text-shadow: white;

                }
                100%{
                    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00b3ffc2,
                    0 0 40px blue, 0 0 50px #00b3ff7c;

                }
            }
            #seconsec{
                /* border: 1px solid red; */
                /* display:inline-block; */
                width: 80ch;
                height: 550px;
                position: relative;
                top: -2ch;
                left: 7ch;
                padding: 5px;
}
.textright h2{
font-size: 40px;
color: rgb(227, 232, 235);
text-shadow: 2px 2px 4px #ffffffab;
/* font-family: 'Otomanopee One', sans-serif; */
font-family: 'Teko', sans-serif;
font-weight: 50;

}
.textright p{
font-size: 2ch;
color: rgb(227, 232, 235);
text-shadow: 1px 1px 0.15px #ffffff;
font-family: 'Otomanopee One', sans-serif;
/* font-family: 'Teko', sans-serif; */
text-align: justify;
font-weight: 50;

}
.textright h3{
font-size: 40px;
color: rgb(227, 232, 235);
text-shadow: 1px 1px 0.15px #ffffff;
/* font-family: 'Otomanopee One', sans-serif; */
font-family: 'Teko', sans-serif;
font-weight: 50;

}
.textright li{
font-size: 2ch;
color: rgb(227, 232, 235);
text-shadow: 1px 1px 0.15px #ffffff;
font-family: 'Otomanopee One', sans-serif;
/* font-family: 'Teko', sans-serif; */
text-align: justify;
font-weight: 50;

}
#pruduct-container {
    margin-top: 6ch;
    margin-bottom:6ch ;
    /* border: 1px solid red; */
    align-items: center;
    left: 10px;
}
#pruduct-container div{
display: inline-block;
padding: 3ch;
margin: 2.2ch;
margin-left: 6.2ch;
background-color: rgba(245, 245, 245, 0.281);
border-radius: 2ch;
max-height: 70ch;
max-width: 50ch;
}
#pruduct-container div img{
width: 250px;
height: 300px;
border-radius: 8px;
margin-left: 5px;
display: inline-block;
/* border:  8px double rgba(151, 123, 151, 0.637);
background-color: rgba(212, 205, 199, 0.993); */
}
#pruduct-container div h3{
font-size: 18px;
font-weight: bolder;
text-align: center;
margin-top: 5px;
color:rgb(255, 255, 255);
}
#pruduct-container div form input{
    display: block;
width: 20ch;
text-align: center;
margin: 2ch;
position: relative;
left: 2.5ch;
border-radius: 5px; 
color: rgb(0, 0, 0);
font-size: 16px;
font-weight: bold;
}
#pruduct-container div form input:hover{
    background-color: rgb(94, 245, 200);
    transform: scale(1.2);
    transition: 0.4s;
}

footer{
    padding: 20px;
    background-color: rgba(19, 24, 27, 0.938);
    width: 100%;
}
footer .fot{
    /* border: 1px solid red; */
    display: inline-block;
    width: 100%;
}

.fot #fotlogo{
    /* border: 1px solid red; */
    display: inline-block;
    width: 250px;
    height: 300px;
    color: rgb(251, 251, 251);
    text-align: center;
    margin-left: 65px;

}

footer #topfir li{
    /* border: 1px solid rgb(89, 0, 255); */
      display: inline-block;
      color: white;
      text-align: center;
      width: 220px;
      padding: 10px;
      margin-left: 90px;
      margin-bottom: 25px;
      font-weight: bolder;
      font-size: 20px;
      text-decoration: underline;
      /* -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;  */
}
.fot #top{
    /* border: 1px solid rgb(255, 0, 157); */
    display: inline-block;
   margin-left: 75px;
   position: relative;
   bottom: 60px;

}
 .fot #top li {
   
    position: relative;
    top: 0px;
    text-decoration: none;
    color: white;
    /* border: 1px solid whitesmoke; */
    text-align: center;
    width: 240px;
    padding: 5px;
    margin-bottom: 25px;
    -webkit-user-select: none;
-ms-user-select: none; 
user-select: none; 
}
.fot #top1{
    /* border: 1px solid red; */
    display: inline-block;
    margin-left: 75px;
    position: relative;
    bottom: 75px;
}
.fot #top1 li {

    position: relative;
    top: 0px;
   
    text-decoration: none;
    color: white;
    /* border: 1px solid whitesmoke; */
    text-align: center;
    width: 240px;
    padding: 5px;
    /* margin-left: 305px; */
    margin-bottom: 25px;
    -webkit-user-select: none;
-ms-user-select: none; 
user-select: none; 
}
.fot #top2{
    /* border: 1px solid red; */
display: inline-block;
margin-left: 75px;
position: relative;
bottom: 75px;
}
 .fot #top2 li {
    text-decoration: none;
    color: white;
    /* border: 1px solid whitesmoke; */
    text-align: center;
    width: 240px;
    padding: 5px;
    /* margin-left: 605px; */
    margin-bottom: 25px;
    -webkit-user-select: none;
-ms-user-select: none; 
user-select: none;
}
#icon {
    /* border: 1px solid red; */
color: rgb(255, 255, 255);
width: 100%;
padding: 5px;
}
#icon i:nth-child(4) {
    position: relative;
    left: 83%;
    bottom: 10px;
}
#icon i:nth-child(3) {
    position: relative;
    left: 78%;
    bottom: 10px;

}
#icon i:nth-child(2) {
    position: relative;
    left: 73%;
    bottom: 10px;

}
#icon p {
    position: relative;
top: 20px;
color: white;
font-size: 19px;
}
#icon i:hover{
    transform: scale(1.5);
    transition: 0.5s;
        color: rgba(251, 251, 251, 0.589);
        transform: scale(1.4);
        transition: 0.5s;
}
